@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer components {
  .tooltip-pinned rect {
    stroke: #ffffff;
    stroke-width: 2px;
  }

  .dark .tooltip-pinned rect {
    stroke: #dddddd;
  }
}