@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer components {
  /* Tooltip styles */
  .tooltip-pinned rect {
    stroke: #ffffff;
    stroke-width: 2px;
  }

  .dark .tooltip-pinned rect {
    stroke: #dddddd;
  }
  
  /* SVG pointer-events styles */
  .tooltip {
    pointer-events: none;
  }

  /* Remove spinner arrows from number inputs in tooltips */
  .editable-tooltip input[type=number]::-webkit-outer-spin-button,
  .editable-tooltip input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .editable-tooltip input[type=number] {
    -moz-appearance: textfield;
  }
  
  .radar-curve {
    /* Allow all radar curves to participate in the stacking context */
    pointer-events: visible;
  }
  
  .radar-curve path {
    pointer-events: none;
  }
  
  .data-point {
    /* Need this to be visible to ensure proper stacking context */
    pointer-events: visible;
  }
  
  .data-point-circle {
    /* No pointer events on the visible circle, all handled by hitarea */
    pointer-events: none;
  }
  
  .data-point-hitarea {
    /* Make sure hitarea captures all events */
    pointer-events: all;
  }
}